<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick Restaurant Picker</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Restaurant Picker</h1>
    <p>
      When your girlfriend can't make up her mind, use this to pick a place to
      go quickly
    </p>
    <p>Just use <code>/random</code> for any Restaurant</p>
    <p>
      You can also use <code>/&lt;category&gt;</code> for a specific type of
      food
    </p>

    <button data-random-btn class="getRestaurant">Get Random Restaurant</button>

    <h2>Add A restaurant</h2>
    <form method="POST" action="/restaurant">
      <div>
        <label for="restName">Name</label>
        <input type="text" id="restName" name="name" required />
      </div>
      <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="location" required />
      </div>
      <div>
        <label for="category">Category</label>
        <input type="text" name="category" id="category" required />
      </div>
      <input type="submit" value="Add Restaurant" />
    </form>

    <hr />
    <h2>List of Current Restaraunts</h2>
    <% if (data.length < 1) {%>
    <h3>There are no restaurants in the DB</h3>
    <% } else { for( let i = 0; i < data.length; i++ ) { %>

    <ul>
      <li><%= data[i].name %> in <%= data[i].location %></li>
    </ul>
    <% } %> <% } %>
    <script src="main.js"></script>
  </body>
</html>
